.common-page
    .common-page__inner
        .reg-page
            .reg-page__left
                .reg-page__input-wrap
                    .reg-page__label Ф.И.О<span class="required">*</span>
                    input.reg-page__input(type=text,placeholder="sss")
                .reg-page__input-wrap
                    .reg-page__label Ф.И.О<span class="required">*</span>
                    input.reg-page__input(type=text,placeholder="sss")
                .reg-page__input-wrap
                    .reg-page__label Ф.И.О<span class="required">*</span>
                    input.reg-page__input(type=text,placeholder="sss")
            .reg-page__right
                .reg-page__input-wrap
                    .reg-page__label Ф.И.О
                    input.reg-page__input(type=text,placeholder="sss")
                .reg-page__input-wrap
                    .reg-page__label Ф.И.О
                    input.reg-page__input(type=text,placeholder="sss")
                .reg-page__input-wrap
                    .reg-page__label Ф.И.О
                    input.reg-page__input(type=text,placeholder="sss")

            .reg-page__text Регистрация дает Вам возможность хранить историю заказов, отменять заказ и не вводить каждый раз при покупке Ваши личные данные заново. Мы гарантируем сохранность Вашей личной информации.

            .reg-page__submit-wrap
                .reg-page__submit-btn добро пожаловать!
                .reg-page__note В ближайшее время наш менеджер свяжется с вами!